{% extends "base.html" %}
{% block title %}Guestbook{% endblock %}

{% block content %}

<h1>Guestbook records</h1>
{% if form.errors %}
    <div style="color:red">{{ form.errors }}</div>
{% endif %}
{% if success_save %}
    <div style="color:blue">Success save!!!</div>
{% endif %}
<form action="" method="POST">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Go">
</form>

{% if messages %}
    <table>
    {% for message in messages %}
        <tr><td>Username:</td><td>{{ message.username }}</td></tr>
        <tr><td>Email:</td><td>{{ message.email }}</td></tr>
        <tr><td>Text:</td><td>{{ message.text }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    No messages!!!
{% endif %}

{% endblock %}
