<h1>Guestbook records</h1>
{% if errors %}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if success_save %}
    <div style="color:blue">Success save!!!</div>
{% endif %}
<form action="" method="POST">
    Username: <input type="text" name="username" value=""><br>
    Email: <input type="text" name="email" value=""><br>
    Text: <textarea rows="5" cols="50" name="text"></textarea><br>
    <input type="submit" value="Go">
</form>

{% if messages %}
    <table>
    {% for message in messages %}
        <tr><td>Username:</td><td>{{ message.username }}</td></tr>
        <tr><td>Email:</td><td>{{ message.email }}</td></tr>
        <tr><td>Text:</td><td>{{ message.text }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    No messages!!!
{% endif %}